<div>
  <div class="form-group">
    <div class="row">
      <div class="col-8">
        <input type="text" class="form-control form-control-lg" placeholder="Searching..."
          [(ngModel)]="placeInput" (ngModelChange)="convertPlace()">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-success mt-1" (click)="findPlace()">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="fullScreen" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>

